<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NSE Test Suite" parallel="tests" thread-count="4">

	<test name="Chrome">
		<parameter name="browser" value="chrome"/>
		<parameter name="stockName" value="TCS"/>
		<parameter name="highValue" value="4,592.25"/>
		<parameter name="lowValue" value="3,056.05"/>
		<classes>
			<class name="nse.tests.NSESearchTest"/>
		</classes>
	</test>
		
	<test name="Edge">
		<parameter name="browser" value="edge"/>
		<parameter name="stockName" value="TCS"/>
		<parameter name="highValue" value="4,592.25"/>
		<parameter name="lowValue" value="3,056.05"/>
		<classes>
			<class name="nse.tests.NSESearchTest"/>
		</classes>
	</test>
	
	<test name="Firefox">
		<parameter name="browser" value="firefox"/>
		<parameter name="stockName" value="TCS"/>
		<parameter name="highValue" value="4,592.25"/>
		<parameter name="lowValue" value="3,056.05"/>
		<classes>
			<class name="nse.tests.NSESearchTest"/>
		</classes>
	</test>

</suite>